body {
  /* background-image: linear-gradient(45deg, blue, black); */
  margin: 0;
  /* height: 1000px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  padding: 20px 0px 0px 0px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 98.7%;
  z-index: 1000;
  border-radius: 8px;
  margin: 8px;
}
.digits {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: white;
  font-weight: 900;
  font-size: 15px;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 2px;
  margin: auto;
}
.countdown {
  /* font-family: "Anonymous Pro", monospace; */
  font-family: "Karla", sans-serif;
  /* font-family: 'Dosis', sans-serif;
font-family: 'Kanit', sans-serif; */
  font-weight: 100;
  font-size: 18px;
  /* justify-content: right; */
  text-align: right;
  color: rgb(253, 76, 76);
  margin: 0px;
}

.exp-points {
  /* font-family: "Anonymous Pro", monospace; */
  font-family: "Karla", sans-serif;
  /* font-family: 'Dosis', sans-serif;
font-family: 'Kanit', sans-serif; */
  font-weight: 100;
  font-size: 18px;
  /* justify-content: right; */
  text-align: right;
  color: #a6d0dd;
  margin: 0px;
  text-align: left;
}
.Expbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.expbar-in {
  float: right;
}

.expbar-description {
  color: #a6d0dd;
  /* font-family: "Anonymous Pro", monospace; */
  font-family: "Karla", sans-serif;
  font-weight: 600;
}

.expbar-in {
  width: 100%;
  max-width: 100vw;
  /* border: 1px solid #ffffff00; */
  height: 2px;
  /* transform: scale(-1, 1); */
  /* border-radius: 16px; */
  /* background-color: #a6d0dd21; */
}

.expbar-in .expbar-val {
  height: 100%;
  position: relative;
  z-index: 2;
  /* width: 10%; */
  /* border-radius: 16px 0px 0px 16px; */
  background-color: #a6d0dd;
  box-shadow: 0px 0px 8px #a6d0dd;
  border-radius: 16px;
  margin-left: 5px;
}

.expbar-val-time {
  z-index: 0;
  height: 100%;
  background-color: rgb(204, 9, 9);
  /* box-shadow: 0px 0px 4px rgb(255, 0, 0); */
  float: right;
  margin-top: -2px;
  border-radius: 16px;
  /* border: solid 1px black; */
  margin-right: 5px;
}

.cup-platform {
  /* background-image: linear-gradient(45deg, #77b9af, #509c91); */
  background-color: #000000;
  width: 11100px;
  padding: 50px;
  padding-bottom: 0px;
  padding-left: 100px;
  padding-top: 265px;
  gap: 0px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  /* min-height: 50vh; */
}

.side-bar {
  border-radius: 8px;
  position: fixed;
  background-color: #101010;
  color: white;
  height: 84vh;
  margin-top: -185px;
  margin-left: -92px;
  z-index: 11;
  width: 65px;
}
.cup {
  z-index: 3;
  margin-top: 18px;
  margin-left: 100px;
  height: 350px;
  width: 160px;
  border: 2px solid #929292;
  border-top: 0px;
  transform: translate(-50%, -50%);
  position: relative;
  border-radius: 0px 0px 60px 60px;
  background: linear-gradient(
    to bottom,
    #ffffff00,
    #ffffff00 50%,
    blue 50%,
    #d3d3d3
  );
  /* background: url("coffee-img-1.svg"), url("coffee-img-2.svg"); */
  /* background-position: 0 0, 0 0;
  background-repeat: repeat-x;
  animation: coffee 4s infinite linear; */
}
/* @keyframes coffee {
  100% {
    background-position: -100% 0, -100% 0;
  }
} */
/* .cup:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 60px;
  border: 10px solid #030303;
  border-left: none;
  right: -75px;
  top: 30px;
  border-radius: 0 30px 80px 0;
} */
/* .cup:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 300px;
  background-color: #6b6b6b;
  left: -45px;
  bottom: -10px;
  border-radius: 10px;
  z-index: 0;
} */

.cup-and-name {
  width: 200px;
}

.cup-name {
  text-align: center;
  padding: 0px 20px;
  margin-top: -150px;
  font-family: "Karla", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: white;
  /* margin-left: 100px; */
  min-height: 52px;
}

.bubble {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  animation: bubbles forwards infinite;
  opacity: 0.6;
}
@keyframes bubbles {
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
.bubble-1 {
  left: 30px;
  bottom: 10px;
  animation-delay: 0.5s;
  animation-duration: 3s;
}
.bubble-2 {
  left: 80px;
  bottom: 35px;
  animation-delay: 1.2s;
  animation-duration: 4s;
}
.bubble-3 {
  left: 140px;
  bottom: 30px;
  animation-duration: 4s;
}

.add-button {
  text-align: center;
}

.plus-img {
  padding: 20px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  filter: invert(100);
  /* margin-left: 100px; */
}
